.body {
  /*  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  margin: 0;
  min-height: 100%;
}

.main-header {
  display: block;
  width: 100%;
}

.header {
  z-index: 1;
}

.main-container {
  margin: auto;
  width: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 3fr;
      grid-template-rows: 1fr 3fr;
}

/*  CONTACT PERSON */
.person-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 60px 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 /2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 /5;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle {
  background: rgba(255, 255, 255, 0.5);
  width: 120px;
  border-radius: 50%;
}

.circle:hover {
  -webkit-box-shadow: 0 0 10px 5px #ffed8463;
          box-shadow: 0 0 10px 5px #ffed8463;
  border-radius: 50%;
  width: 130px;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.rotate55 {
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

.divider {
  height: 1px;
  width: 120px;
  margin-top: 20px;
  background-color: #ff9b00;
}

.name {
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
}

.social-media {
  width: 100px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.5rem;
}

.social-media a {
  margin-left: 0;
}

/* CONTACT US */
.content {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 90%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.contact {
  padding: 4%;
  height: auto;
}

.col-md-3 {
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.contact-info {
  margin-top: 10%;
}

.contact-info img {
  margin-bottom: 15%;
}

.contact-info h2 {
  margin-bottom: 10%;
}

.col-md-9 {
  background: white;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label {
  font-weight: 600;
  max-width: none;
}

.contact-form button {
  background: #fff;
  border: 1px solid #ff9b00;
  color: #ff9b00;
  font-weight: 600;
  width: 25%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-form button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

button:hover {
  background: #ff9b00;
  color: #fff;
}

button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h4 {
  color: #25274d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  color: #25274d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-logo {
  text-align: center;
}

label {
  color: #ff9b00;
  display: -ms-grid;
  display: grid;
}

.form-control {
  color: #25274d;
}

/* https://sweetalert.js.org/ */
.swal2-styled.swal2-confirm {
  border: 2px solid #ff9b00;
  color: #ff9b00;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border-radius: 3px;
}

.swal2-styled.swal2-confirm:hover {
  background-color: #ff9b00;
  color: #fff;
}

.swal-button--success {
  color: #ff9b00;
}

/* Footer */
.footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  clear: both;
  margin-top: 100px;
  background-color: #ff9b00;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
}

.newsletter {
  height: 30px;
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.h5-footer {
  font-size: 1.2rem;
  color: #25274d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.subscribe_btn {
  text-align: center;
  background: #fff;
  border: 1px solid #ff9b00;
  color: #ff9b00;
  font-weight: 600;
  min-width: 10%;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.subscribe_btn:hover {
  background: #ff9b00;
  border: 1px solid #fff;
  color: #fff;
}

/* SUBSCRIPTION POPUP */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 30px;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.email-input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 10px;
}

.popup .popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  background-image: url(/contacts/img/photo-1548504773-429e84f586d2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 500px;
  height: 300px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.popup .popup-content > h4 {
  padding-top: 20px;
}

.popup .popup-content > label {
  color: #25274d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
}

.popup .popup-content > input {
  color: #25274d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
  border-radius: 3px;
}

.popup .popup-content > p {
  color: #25274d;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}

.popup.active .overlay {
  display: block;
}

.popup.active .popup-content {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

/* #region MOBILE/TABLET 320px -> 767px */
@media (max-width: 767px) {
  .content {
    min-width: 320px;
  }
  .main-container {
    width: auto;
  }
  .person-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  body {
    font-size: 0.9rem;
  }
  .form-control {
    font-size: 0.9rem;
  }
  .col-sm-2 {
    max-width: none;
  }
  .col-md-3 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .col-md-9 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .col-sm-10 {
    width: auto;
  }
  .contact-info {
    margin-top: 0px;
  }
  .contact-info > img {
    margin-bottom: 0%;
  }
  .contact-info > h2 {
    margin-bottom: 25px;
    font-size: 1.7rem;
  }
  .contact-info > h4 {
    margin-bottom: 25px;
    font-size: 1.3rem;
  }
  .contact-form button {
    width: auto;
  }
  .h5-footer {
    font-size: 1.1rem;
  }
  .popup .popup-content {
    width: 320px;
    height: 300px;
  }
  .email-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  p {
    padding: 16px 0px;
    margin: 0;
  }
}

@media (min-width: 576px) {
  .col-sm-2 {
    max-width: none;
  }
}
/*# sourceMappingURL=contacts.css.map */