/* card details start  */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i");

@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Oooh+Baby&family=Patua+One&display=swap");

html {
  height: 100%;
  overflow: auto;
}
body {
  min-height: 100%;
  overflow: auto;
}

section {
  padding: 20px 0;
}
.details-card {
  background: #1e1842;
}

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

.card-img span {
  position: absolute;
  top: 15%;
  left: 12%;
  background: #1abc9c;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
}
.card-img span h4 {
  font-size: 10px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0;
}
.card-desc {
  padding: 1.25rem;
}

.card-desc h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-desc p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
.btn-card {
  background-color: #1abc9c;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}
.btn-card:hover {
  background: rgb(59, 59, 59, 2);
}
a.btn-card {
  text-decoration: none;
  color: #fff;
}

.blog-heading {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  color: #f1f1f1;
  text-align: center;
  font-size: 40px;
  background-color: #1e1842;
  padding-top: 25px;
}

/* End card section */

/* Sticky header alltid syns. Carusellen hade en detalj på 15 */

.header {
  z-index: 25;
  width: 100%;
}

/* Sidorna med bloggen */

.blog-window {
  color: #f1f1f1;
  padding: 20px;
  margin: 10px;
  font-family: 'Amiri', serif;
}

.blog-container {
  background-color: #9e9a9a;
  color: black;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #f1f1f1;
  overflow: hidden;
  margin: auto;
}

.blog-texts {
  font-size: 18px;
  color: black;
  text-align: justify;
  padding: 15px;
}

.blog-img {
  margin: 10px;
  border-radius: 50%;
}

.blog-img-rules {
  float: right;
  margin-left: 10px;
  width: 50%;
  border-radius: 5px;
  padding-bottom: 5px;
}

/* Lånat från W3School */

.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Blogfix */

.blogcolumns {
  column-count: 2;
}

.activeblog {
  color: #ff9b00;
  text-shadow: black 2px 2px 5px;
}

/* Ändringar i boostrap, förutom de jag gjort i koden ovan. */

.card-desc > h3 {
  text-align: center;
}

.card-content {
  border-radius: 5px;
  margin-bottom: 20px;
  border: solid 3px #ff9b00;
  box-shadow: 0 0 5px 5px #f1f1f1;
}

.card-desc p {
  color: black;
  text-align: left;
}

/* fixat med java och lagt till classnamn för att kunna styla. */

.myBtn {
  margin: 0px 45% 10px 45%;
  width: 10%;
  border-radius: 5px;
  font-size: 1rem;
}

.fa-arrow-circle-right {
  background-color: #ff9b00;
  border-radius: 50%;
}

.fa-arrow-circle-left {
  background-color: #ff9b00;
  border-radius: 50%;
}

.more {
  display: none;
}

/* olika medier för att styla knappar och beteenden i texten. */

@media (max-width: 768px) {
  .blog-img-rules {
    width: 100%;
    align-content: center;
  }

  .blog-texts {
    font-size: 16px;
    color: black;
    padding: 10px;
    text-align: initial;
  }

  p {
    text-align: initial;
  }

  .myBtn {
    margin: 0px 35% 10px 35%;
    width: 30%;
    border-radius: 5px;
    font-size: 1rem;
  }
}

@media (max-width: 940px) {
  .myBtn {
    margin: 0px 37% 10px 37%;
    width: 26%;
    border-radius: 5px;
    font-size: 1rem;
  }
}

@media (max-width: 368px) {
  .blog-heading .btn-card:nth-child(2) {
    order: 1;
  }
}

/* Order från dottern */

.Olivia {
  color: yellow;
}
