@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --white-light: rgba(255, 255, 255, 0.5);
  --alice-blue: #f8f9fa;
  --carribean-pink: #ff9b00;
  --gray: #ededed;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


 .imageItem{
    max-width: 60% !important;
    margin-left: 40px;
    margin-top: 40px;   
    
} 

.large-title,
.medium-title,
.small-title {
  font-family: "Roboto", sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.large-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.medium-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.small-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}
.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
}


.products{
   
    padding: 3.2rem 0;
 
 
}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    position: relative;
   
}
.product-content{
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
    
}
.product-img{
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}
.product-btns{
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.btn-cart, .btn-buy{
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-size: small;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: var(--carribean-pink);
    
}
.btn-buy{
    background: white;
}
.btn-buy:hover{
    background: var(--carribean-pink);
    color: #fff;
}
.product-info{
    background: white;
    padding: 2rem;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span{
    color: var(--carribean-pink);

}
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price:first-of-type{
    text-decoration: line-through;
    color: var(--carribean-green);
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--carribean-pink);
}
.product:hover .product-btns{
    opacity: 1;
}
.discount-info .small-title{
    background: var(--carribean-pink);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}

/* product collection */
.product-collection{
    padding: 3.2rem 0;
   
}
.product-collection-wrapper{
    padding: 3.2rem 0rem;
}
.product-col-left{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/men.jpg") center/cover no-repeat;  
   
    background-size: contain;
}
.product-col-r-top{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("https://i.ibb.co/vxnKZF3/ski.jpg") center/cover no-repeat;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: auto;  
    margin: 5px;
}
.product-col-r-bottom > div:first-child{
    background: var(--carribean-pink);
}
.product-col-r-bottom > div:last-child{
    background: var(--carribean-pink);
}
.product-col-content{
    text-align: center;
    color: white;
}
.product-collection .text-light{
    opacity: 1;
    font-size: 0.8;
    font-weight: 400;
    line-height: 1.7;
}
.btn-dark{
    background: black;
    color: white;
    outline: 0;
    border-radius: 25px;
    padding: 0.7rem 1rem;
    border: 0;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 1rem;
    font-family: inherit;
}
.btn-dark:hover{
    background: var(--carribean-green);
}

.product-items{
   margin-top: 160px;

}

/* Media Queries */
@media screen and (min-width: 992px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-col-r-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }
  .product {
    margin-right: 0.5rem;
    margin-left: 0rem;
  }
  .products .text-light {
    width: 50%;
  }
}


@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
        
    }
    .product-col-left{
        height: 121.5vh;
    }

}

/* .products{
    float: right;
    width: 70%;
} */

.flex-container {

    display: flex;

      

}

.flex-left {
  width: 25%;
  height: 100vh;
}

.flex-right {
  width: 75%;
}

.flex-child {

     flex: 1 ; 
   
}  


.flex-child:first-child {
  margin-right: 0px;
}

.shake {
  display: block;
  position: relative;
}
@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(0px, -1px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-2px, -1px) rotate(2deg);
  }
  30% {
    -webkit-transform: translate(1px, 3px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(2px, 0px) rotate(2deg);
  }
  50% {
    -webkit-transform: translate(0px, 3px) rotate(-2deg);
  }
  60% {
    -webkit-transform: translate(-2px, 2px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 2px) rotate(-2deg);
  }
  80% {
    -webkit-transform: translate(0px, 0px) rotate(2deg);
  }
  90% {
    -webkit-transform: translate(3px, 3px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(2px, -1px) rotate(-2deg);
  }
}
.shake:hover,
.shake:focus {

	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.7s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #494747;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    width: 150px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8px;
  }
  

  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #1b4d64;
    color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    height: 40px;
    padding: 6px;
    margin-top: 4px;
    margin-right: 18px;
    border-radius: 8px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 16px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

