.contact {
  padding: 4%;
  height: 400px;
}
.col-md-3 {
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: rgb(255, 255, 255);
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
  margin-left: ;
}
.contact-form button:focus {
  box-shadow: none;
}

button:hover {
  background: #ff9b00;
}

h2 {
  color: white;
  text-shadow: black 1px 1px;
}

h4 {
  color: white;
  text-shadow: black;
}

.contact-logo {
  text-align: center;
}

label {
  color: #ff9b00;
}
