html li {
  background-color: rgba(137, 43, 226, 0.247);
  list-style-type: none; /* tar bort punkterna */
  /* padding-left: 40px; */
}

p {
  color: black;
}

h1 {
  background-color: blue; /* övningstekniskt */
  display: grid;
}

.main-layout-grid {
  /* skapar grid för hela artikeln */
  background-color: blanchedalmond;
  display: grid;
  min-height: 100%;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(4, 25%);
}

.a-header {
  display: grid;
  grid-column-start: 2;
}

.b-head-picture {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
}

.c-text {
  background-color: chocolate;
  display: grid;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
}

.d-employee {
  /* placerar de 3 icke-aktuella employees */
  display: grid;
  grid-column-start: 4;

  /* border: 100px black; syns inte i någon class */
  /* width: 100px; */
  /*margin: auto; /* förstör .container justify-content*/
  /* border-bottom: 50px; */
  /* order: 3; */
}

.d-employee img {
  height: 150px;
}
